html{
  width:100%;
  max-width: 100%;
  margin:0px;
  padding: 0px;
}
body{
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding:0px;
}
#TOP, #TOP2 {
  position: relative;
  width: 100%;
  margin: 0px ;
  padding: 0px ;
 }

#BOTTOM {
   width: 100%;
   text-align: center;
   font-weight: bold;
}

#ADD, #SAVE {
  position: absolute;
  left: 80%;
  top: 5%;
}
#DELETE, #CANCEL {
   position: absolute;
  left: 85%;
  top: 5%;
}
#PRODUCTS {
  display: grid;
  grid-template-columns: 1fr 250px 1fr 250px 1fr 250px 1fr 250px 1fr;
  grid-template-rows: 160px 20px 160px  20px 160px 1fr;
  font-family: 'Times', serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  }  
#Disc1{
   position: relative;
   grid-column: 2;
   grid-row: 1;
   border:solid;
   }
#Disc2 {
   position: relative;
   grid-column: 4;
   grid-row: 1;
   border:solid;
}
#Disc3 {
  position: relative;
  grid-column: 6;
  grid-row: 1;
  border:solid;
}
#Disc4 {
  position: relative;
  grid-column: 8;
  grid-row: 1;
  border:solid;
}
#Book1{
   position: relative;
   grid-column: 2;
   grid-row: 3;
   border:solid;
}
#Book2{
   position: relative;
   grid-column: 4;
   grid-row: 3;
   border:solid;
}
#Book3{
  position: relative;
  grid-column: 6;
  grid-row: 3;
  border:solid;
}
#Book4{
   position: relative;
   grid-column: 8;
   grid-row: 3;
   border:solid;
}
#Furniture1{
  position: relative;
  grid-column: 2;
   grid-row: 5;
  border:solid;
}
#Furniture2{
   position: relative;
   grid-column: 4;
    grid-row: 5;
   border:solid;
}
#Furniture3{
   position: relative;
   grid-column: 6;
    grid-row: 5;
    border:solid;
}
#Furniture4{
   position: relative;
   grid-column: 8;
    grid-row: 5;
    border:solid;
}
#IIPage {
   display: none;
   position: relative;
}
#ABOUT {
   min-height: 550px;
}
.LEB 
.SP { float: left; max-width: 100px; margin-left: 30px; }
.D { margin-left: 130px; width:200px;}
.I { max-width: 200px; }
.IK {width: 700px; height: 150px;}
.DI  { display: inline-block; }

#DescriptionDVD, #DescriptionBook {
  position: absolute;
  width: 25%;
  height: 20%;
  border: solid;
  margin-left: 30px;
  display: none;
 }
#DescriptionFurniture  {
 position: absolute;
  width: 25%;
  height: 35%;
  border: solid;
  margin-left: 30px;
  display: none;
}
#JVC1123, #JVC1124, #JVC1125, #JVC1126, #GGPW0072, #GGPW0073, #GGPW0074, #GGPW0075, #TR12005, #TR12006, #TR12007, #TR12008
  {
   position: absolute;
   top: 5%;
   left: 5%;
  }
#infoDisc1, #infoDisc2, #infoDisc3, #infoDisc4, #infoBook1, #infoBook2, #infoBook3, #infoBook4, #infoFurniture1, #infoFurniture2, #infoFurniture3, #infoFurniture4
  {
  display: none;
  }